.battle-left
    grid-column: 1/6
    background: url("/images/Rectangle 5.png") center/cover no-repeat
    position: relative
    .photo
        position: absolute
        width: 70%
        height: 55%
.six
    transform: translate(10rem,7rem)

.seven
    transform: translate(25rem,20rem)
   