@import "_variables.sass"
    
.header-right
    padding: 15rem 2rem
    background-color: $color-black
    grid-column: 8/-1
    display: grid
    grid-template-columns: min-content max-content
    grid-template-rows: repeat(4,1fr)
    grid-gap: 2rem 
    justify-content: center
    align-items: center
    .title4
        color: $color-light-green
        letter-spacing: 0
    p
        color: $color-gray
        margin: 0
    img
        width: 8rem
        height: 8rem
        border-radius: 100%

        grid-column: 1/2
    .t
        grid-column: 1/-1
        grid-row: 1/2
        display: flex
        margin: 0 auto
        align-items: flex-end
   


    h5
        font-size: 1.9rem
        font-weight: 700
        color: $color-white
    .titleL
        grid-column: 2/3
